rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    function isSignedIn() {
      return request.auth != null;
    }

    // Volledige toegang voor alle ingelogde gebruikers.
    // Dit garandeert dat Super admins en kiosk-accounts trainingsmateriaal kunnen uploaden.
    match /{allPaths=**} {
      allow read, write: if isSignedIn();
    }
  }
}