
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // --- HELPER FUNCTIES ---

    function isSignedIn() {
      return request.auth != null;
    }

    function getUserData() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data;
    }

    function userExists() {
      return exists(/databases/$(database)/documents/users/$(request.auth.uid));
    }

    function isAdmin() {
      return isSignedIn() && userExists() && getUserData().role == 'Super admin';
    }

    function isPrivileged() {
      return isSignedIn() && userExists() && (getUserData().role == 'Super admin' || getUserData().role == 'toezichthouder');
    }

    // --- RULES ---

    match /annual_planning/{document=**} {
      allow read, write: if isSignedIn();
    }
    
    match /annual_milestones/{document=**} {
      allow read, write: if isSignedIn();
    }

    match /contractors/{contractorId} {
      allow read: if isSignedIn();
      allow write: if isPrivileged() || isAdmin();

      match /minutes/{minuteId} {
        allow read: if isSignedIn();
        allow write: if isPrivileged() || isAdmin();
      }
    }

    match /meldingen/{meldingId} {
      allow read, write: if isSignedIn();
    }

    match /users/{userId} {
      allow read, list: if isSignedIn();
      allow write: if request.auth.uid == userId || isAdmin();

      match /messages/{messageId} {
        allow read, list, update, delete: if request.auth.uid == userId || isAdmin();
        allow create: if isSignedIn(); 
      }

      match /routes/{routeId} {
        allow read: if request.auth.uid == userId || isPrivileged();
        allow write: if request.auth.uid == userId || isPrivileged();
      }
    }

    match /projects/{projectId} {
      allow read: if isSignedIn();
      allow write: if isPrivileged() || isAdmin();

      match /{allSubcollections=**} {
        allow read: if isSignedIn();
        allow write: if isPrivileged() || isAdmin();
      }
    }

    match /medewerkers/{medewerkerId} {
      allow read: if isSignedIn();
      allow write: if isPrivileged() || isAdmin();
    }

    match /sensors/{sensorId} {
      allow read: if isSignedIn();
      allow write: if isSignedIn();
    }

    match /voertuigen/{id} {
      allow read: if isSignedIn();
      allow write: if isPrivileged() || isAdmin();
      match /{allSubcollections=**} {
        allow read: if isSignedIn();
        allow write: if isPrivileged() || isAdmin();
      }
    }
    match /machines/{id} {
      allow read: if isSignedIn();
      allow write: if isPrivileged() || isAdmin();
      match /{allSubcollections=**} {
        allow read: if isSignedIn();
        allow write: if isPrivileged() || isAdmin();
      }
    }

    match /objects/{objectId} {
      allow read: if isSignedIn();
      allow write: if isPrivileged();
    }
    
    match /settings/{settingId} {
      allow read: if isSignedIn();
      allow write: if isPrivileged();
    }

    match /{document=**} {
      allow read, write: if isAdmin();
    }
  }
}
