rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    function isSignedIn() {
      return request.auth != null;
    }

    // Synchronisatie met de hoofdregels voor volledige toegang voor ingelogde gebruikers.
    // Dit garandeert dat de settings/ map ook voor de app-code toegankelijk is.
    match /{allPaths=**} {
      allow read, write: if isSignedIn();
    }
  }
}
